<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/default.css"/>
        <title>Autocapture</title>
    </head>
    <body>
    {% include 'base/header.html' %}

    <div class="container">
        <div class="row">
            <section class="col-12">
                <div class="row">
                    {% block navigation %}
                        {% include 'base/navigation.html' %}
                    {% endblock %}

                    {% block article_outside %}
                        <article class="col-9">
                            {% block article %}{% endblock %}
                        </article>
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
    </body>
</html>