<nav class="col-3 sidebar">
    <ul class="nav nav-pills flex-column">
        {% if session.logged %}
            <li class="nav-item"><a href="/" class="nav-link {% if loc == 'home' %}active{% endif %}">Accueil</a></li>
            {% if session.grade > 3 %}
                <li class="nav-item"><a href="/users" class="nav-link {% if loc == 'users' %}active{% endif %}">Utilisateurs</a></li>
            {% endif %}
            <li class="nav-item"><a href="/config" class="nav-link {% if loc == 'config' %}active{% endif %}">Configuration</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Déconnexion</a></li>
        {% else %}
            <li class="nav-item"><a href="/" class="nav-link active">Connexion</a></li>
        {% endif %}
    </ul>
</nav>