{% extends 'base/base.html' %}

{% block article %}
    {% if mess != "" %}
        <p class="alert alert-info" style="margin-top:15px">{{ mess }}</p>
    {% endif %}

    <div class="card">
        <h4 class="card-header">Modification du mot de passe</h4>
        <div class="card-block">
            <form method="POST" action="/config/changepassword">
                <div class="form-group">
                    <label for="input-oldpassword">Ancien mot de passe</label>
                    <input type="password" id="input-oldpassword" name="oldpassword" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="input-newpassword">Nouveau mot de passe</label>
                    <input type="password" id="input-newpassword" name="newpassword" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="input-repeatpassword">Répétition du mot de passe</label>
                    <input type="password" id="input-repeatpassword" name="repeatpassword" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}