{% extends 'base/base.html' %}

{% block article %}
    <div class="card">
        <h4 class="card-header">Télécharger une image sur le serveur</h4>
        <div class="card-block">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" multiple="multiple"/>
                </div>

                <input type="hidden" name="webview" value="webview"/>
                <input type="submit" class="btn btn-secondary"/>
            </form>
        </div>
    </div>

    <div class="card">
        <h4 class="card-header">Fichiers téléchargés sur le serveur</h4>
        <div class="card-block">
            {% for file in files %}
                <p class="recentlink"><a href="/file/{{ file.uniqid }}">{{ file.name }}</a>
                    {% if file.source == 'app' %} (App){% endif %} [<a href="/file/remove/{{ file.uniqid }}">Supprimer</a>]</p>
            {% else %}
                <p>Vous n'avez pas encore télécharger de fichier sur le serveur</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}