{% extends 'base/base.html' %}

{% block navigation %}{% endblock %}

{% block article_outside %}
    <article class="col-12">
        <div class="card">
            <h4 class="card-header">Installation</h4>
            <div class="card-block">
                <form method="POST" action="/install/setadmin">
                    <div class="form-group">
                        <label for="input-username">Nom d'utilisateur (De l'administrateur)</label>
                        <input type="text" name="username" id="input-username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="input-password">Mot de passe</label>
                        <input type="password" name="password" id="input-password" class="form-control"/>
                    </div>

                    <input type="submit" class="btn btn-secondary"/>
                </form>
            </div>
        </div>
    </article>
{% endblock %}